*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial;
  background-color: lightblue;
  font-weight: bold;
}

button,
input {
  font-size: 1em;
  font-family: Arial;
}

label {
  font-weight: 900;
}

input {
  border: 2px solid #5912ff;
  border-radius: 6px;
  padding: .4em .8em;
  background-color: lightpink;
}

input:focus {
  background-color: #FFFFFF;
  border: 5px solid lightcoral;
  outline: 0;
}

button {
  background: pink;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
  padding: 10px;
  box-shadow: inset 0 -3px 0 0 lightcoral;
  
}

button:active {
  box-shadow: none;
  transform: translateY(3px);
}

table {
  width: 100%;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.total {
  font-size: 150%;
}

form {
  margin-top: 25px;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

.transaction-buttons {
  margin-top: 25px;
}